# Node
node_modules/
.env

# RSA keys - private (do NOT commit)
server/esp/private.pem
server/esp/verifier/verify-private.pem

# Temp/test files
*.log
*.test.js
server/verifier/verifier-encryptor-test.js


.env
server/esp/private.pem
server/esp/verifier/verify-private.pem
private.pem.b64
verify-private.pem.b64


